

.hide-on{
  @media screen and (min-width: 1100px) {
	&-desktop {
	  display: none!important;
	}
  }
  @media screen and (min-width: 576px) and (max-width: 1100px) {
	&-tablet {
	  display: none!important;
	}
  }

  @media screen and (max-width: 576px) {
	&-mobile {
	  display: none!important;
	}
  }
}

body{
  &.logged-in{
	.hide-on-login{
	  display: none!important;
	}
  }

  &:not(.logged-in){
	.hide-on-logout{
	  display: none!important;
	}
  }
}
